# Twilio API credentials
# (find here https://www.twilio.com/console)
export TWILIO_ACCOUNT_SID=AC73870501acfe46b984fa148c69d2251c
export TWILIO_AUTH_TOKEN=845a06a9e6de9955d1425bee844124ef

# Verification Service SID
# (create one here https://www.twilio.com/console/verify/services)
export VERIFICATION_SID=VAa3d25f499a81a677c8de636b9533e046